<h1>Edit  User Management</h1>
<form action="" method="POST">
    <input type="hidden" name="id" value="<%= student[0].id%>">
    <input type="text" name="name"  value="<%= student[0].name%>" placeholder="Enter Username" required><br><br>
    <input type="age" name="age" value="<%= student[0].age%>" placeholder="Enter Emailid" required><br><br>
    <input type="mark1" name="mark1" value="<%= student[0].mark1%>" placeholder="Enter password" required><br><br>
    <input type="mark2" name="mark2" value="<%= student[0].mark2%>" placeholder="Enter confirm Password" required><br><br>
    <input type="mark3" name="mark3" value="<%= student[0].mark3%>" placeholder="Enter confirm Password" required><br><br>

    <input type="submit" value="submit">
</form> 